*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    padding: 0;margin: 0;
    background: url(piano.jpg) no-repeat;
    background-size: cover
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
h1{
    color: silver;
    margin:80px auto;
    width: 33%;
    font-weight: 330;
    font-size: 2rem;
    padding: 18px;
    box-shadow: 3px 3px 3px rgba(255,215,0,0.15), -3px -3px 3px rgba(255,215,0,0.15);
}
.keys{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 74%;
    margin:12% auto;
    color: silver;
    justify-content: space-around;
    height: 90px;
    align-self: center;
}
.key{
    align-self: center;
    font-size: 3rem;
    border: solid 1px silver;
    padding: 16px;
    width: 110px;
    height: 110px;
    text-align: center;
    transition: 0.1s;
    background-color: rgba(0,0,0,0.5);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}
.playing{
    transform: scale(1.1,1.1);
    border: 1px solid gold;
    box-shadow: 2px 2px 2px gold, -2px -2px 2px gold;
    text-transform: uppercase;
}

.key span{
    font-size: 1.1rem;
    color:gold;
    margin:10px;
}
